input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.page-number {
    width: 40px;
    border:none;
    border-radius: 50px;
    outline:none;
}