.person-card {
    padding: 5px;
    max-width:160px;
    border: none;
    background-color: #343a40;
    transition: 0.2s;
    &:hover {
        background-color: lighten($color: #343a40, $amount: 5%);
        transform: scale(1.05);
    }
    &__name {
        font-size: 12px;
    }
}

